<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="font-family  " />
    <meta name="author" content="laptop" />
    <title>manage user </title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <%- include('../layout/header'); -%>
        <div id="layoutSidenav">
            <%- include('../layout/sidenav'); -%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Manage Users</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                                <li class="breadcrumb-item active"><a href="/admin/user">Users</a></li>
                            </ol>
                            <div>
                                <div class="container mt-5">

                                    <!-- Header + Button -->
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h2 class="fw-bold text-primary">📋 List Users</h2>
                                        <a href="/admin/create-user" class="btn btn-success shadow-sm">
                                            + Create New User
                                        </a>
                                    </div>

                                    <!-- Card -->
                                    <div class="card shadow-lg border-0">
                                        <div class="card-body p-4">

                                            <!-- Table -->
                                            <div class="table-responsive">
                                                <table class="table table-hover align-middle text-center">
                                                    <thead class="table-primary">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>NAME</th>
                                                            <th>EMAIL</th>
                                                            <th>ADDRESS</th>
                                                            <th>ACTION</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <% users.forEach( function (user) { %>

                                                            <tr>
                                                                <td class="fw-semibold text-secondary">
                                                                    <%= user.id %>
                                                                </td>
                                                                <td class="fw-bold text-dark">
                                                                    <%= user.fullName %>
                                                                </td>
                                                                <td>
                                                                    <%= user.username %>
                                                                </td>
                                                                <td class="text-muted">
                                                                    <%= user.address %>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex justify-content-center gap-2">

                                                                        <form action="/admin/edit-user/<%= user.id %>"
                                                                            method="get">
                                                                            <button
                                                                                class="btn btn-sm btn-warning shadow-sm">Edit</button>
                                                                        </form>


                                                                        <form action="/admin/delete-user/<%= user.id %>"
                                                                            method="post">
                                                                            <button type="submit"
                                                                                class="btn btn-sm btn-danger shadow-sm">Delete</button>
                                                                        </form>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>


                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-center ">
                                                    <li class="page-item">
                                                        <a class="page-link <%= page === 1 ? 'disabled' : '' %>"
                                                            href="/admin/user?page=<%= page - 1 %>"
                                                            aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>


                                                    <% for (var i=1; i <=totalPages; i++) { %>
                                                        <li class="page-item <%= page === i ? 'active' : '' %>">
                                                            <a class="page-link" href="/admin/user?page=<%= i %>">
                                                                <%= i %>
                                                            </a>
                                                        </li>
                                                        <% } %>


                                                            <li
                                                                class="page-item <%= page == totalPages ? 'disabled' : '' %>">
                                                                <a class="page-link"
                                                                    href="<%= page === totalPages ? '#' : `/admin/user?page=${page + 1}` %>"
                                                                    aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                </ul>
                                            </nav>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </main>
                    <%- include('../layout/footer'); -%>

                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="/admin/js/scripts.js"></script>
</body>

</html>